.wbs__image__wrapper:not(.wbs__image__wrapper--contain) svg{
  width: inherit;
    height: inherit;
}

.wbs__image__wrapper{
  position: relative;
  display: grid;
  margin: 0;
}
.circle-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}
  .wbs__image__wrapper img{
    object-fit: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }

{%- if section.settings.override_theme_font != blank -%}
  {%- for font in font_array -%}
    {%- unless font contains 'error' -%}{{ font }}{%- endunless -%}
  {%- endfor -%}
  #WP--{{ section.id }} {
    --main-font: {{ section.settings.main_font.family }}, {{ section.settings.main_font.fallback_families }};
    --main-font-weight: {{ section.settings.main_font.weight }};
    --main-font-style: {{ section.settings.main_font.style }};
    --heading-font: {{ section.settings.heading_font.family }}, {{ section.settings.heading_font.fallback_families }};
    --heading-font-weight: {{ section.settings.heading_font.weight }};
    --heading-font-style: {{ section.settings.heading_font.style }};
  }
{%- endif -%}

  #WP--{{ section.id }} {
  background: {{ section.settings.background_color }};
  margin-top: {{ section.settings.outer_margin }}px;
  margin-bottom: {{ section.settings.outer_margin }}px;
  --play-button-size: 50px;
}

#WP--{{ section.id }} .wbs__sizer {
  padding-top: {{ section.settings.inner_padding }}px;
  padding-bottom: {{ section.settings.inner_padding }}px;
  width: {{ section.settings.base_width }}%;
  max-width: {{ max_width }};
  margin: 0 auto;
}

#WP--{{ section.id }} .wbs__heading {
  text-transform: none;
  text-align: center;
  margin: 0 0 1em;
  color: {{ section.settings.heading_color }};
  line-height: calc(3px + 2ex + 3px);
  font-size: calc(var(--WP-g-heading-size, var(--WP-heading-size, 35px)) * {{ section.settings.text_size | times: 0.01 }});
  {%- if section.settings.override_theme_font != blank -%}
  font-family: var(--heading-font);
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
  {%- endif -%}
}

{%- if section.settings.desktop_display == 'scroll' -%}
  #WP--{{ section.id }} .wbs__sizer {
    {% comment %} margin-right: 0; {% endcomment %}
  }

  #WP--{{ section.id }} .wbs__testimonials-wrapper {
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    justify-content: flex-start;
    scroll-snap-type: x mandatory;
    scroll-padding: 20px;
    margin-left: 0;
  }

  #WP--{{ section.id }} .wbs__flex-item {
    min-width: calc(100%/{{ section.settings.per_row }} + 1vw);
    scroll-snap-align: start;
    position: relative;
    margin-bottom: 20px;
    border-radius: {{ section.settings.border_radius }}px;
  }

  #WP--{{ section.id }} ::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: rgba(0,0,0,0);
    width: 7px;
    height: 3px;
  }

  #WP--{{ section.id }} ::-webkit-scrollbar-track,
   ::-webkit-scrollbar-corner { /* Background */
    background: #D8D8D8;
  }

  #WP--{{ section.id }} ::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #000000;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }
{%- else -%}
  #WP--{{ section.id }} .wbs__testimonials-wrapper {
    flex-wrap: wrap;
  }

  #WP--{{ section.id }} .wbs__flex-item {
    flex: 0 0 calc(100%/{{ section.settings.per_row }} - 20px);
    border-radius: {{ section.settings.border_radius }}px;
  }
{%- endif -%}

#WP--{{ section.id }} .wbs__testimonials-wrapper {
  justify-content: flex-start;
  gap: 20px;
  display: flex;
}

#WP--{{ section.id }} .wbs__flex-item {
  height: auto;
  border: {{ section.settings.border_width }}px solid {{ section.settings.border_color }};
  background: {{ section.settings.text_background_color }};
}

#WP--{{ section.id }} .wbs__inner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  text-align: center;
  position: relative;
  overflow: hidden;
}

#WP--{{ section.id }} .wbs__youtube-video {
  aspect-ratio: 16 / 9;
  width: 100%;
  display: block;
  border-radius: {{ inner_border_radius }}px {{ inner_border_radius }}px 0 0;
}

#WP--{{ section.id }} .wbs__hosted-video {
  width: 100%;
  height: auto;
  display: block;
}


#WP--{{ section.id }} .wbs__video-inner-wrapper {
  position: relative;
}

#WP--{{ section.id }} .wbs__play-button,
#WP--{{ section.id }} .wbs__pause-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--play-button-size);
  height: var(--play-button-size);
  fill: {{ section.settings.play_button_color }};
  transition: 0.1s ease;
  cursor: pointer;
}

#WP--{{ section.id }} .wbs__pause-button {
  opacity: 0;
  transition: 0.1s ease;
  pointer-events: none;
  width: calc(var(--play-button-size)/1.5);
  height: calc(var(--play-button-size)/1.5);
  fill: {{ section.settings.play_button_color }};
}


#WP--{{ section.id }} .wbs__video-wrapper:hover {
  border-color: red;
}
#WP--{{ section.id }} .wbs__video-wrapper:hover .wbs__pause-button.wbs__playing {
  opacity: 100;
  pointer-events: initial;
}

#WP--{{ section.id }} .wbs__play-button path,
#WP--{{ section.id }} .wbs__pause-button path {
  pointer-events: none;
}

#WP--{{ section.id }} .wbs__play-button.wbs__playing {
  opacity: 0;
}

#WP--{{ section.id }} .wbs__stars {
  display: flex;
  justify-content: center;
  width: min(80%, 115px);
}

#WP--{{ section.id }} .wbs__star {
  flex: 1 0 auto;
  max-width: 30px;
}

#WP--{{ section.id }} .wbs__star svg path {
  fill: {{ section.settings.star_color }};
}

#WP--{{ section.id }} .wbs__text {
  position: relative;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  font-weight: normal;
  color: {{ section.settings.text_color }};
  line-height: calc(3px + 2ex + 3px);
  font-size: calc(var(--WP-g-body-size, var(--WP-body-size, 18px)) * {{ section.settings.text_size | times: 0.01 }});
  {%- if section.settings.override_theme_font != blank -%}
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  font-style: var(--main-font-style);
  {%- endif -%}
}

#WP--{{ section.id }} .wbs__image {
  width: {{ section.settings.image_size }}%;
  overflow: hidden;
}

#WP--{{ section.id }} .wbs__image--circle {
  border-radius: 50%;
}

#WP--{{ section.id }} .wbs__image--rounded {
  border-radius: 5px;
}

#WP--{{ section.id }} .wbs__link {
  text-align: center;
  margin-top: 20px;
  font-weight: normal;
  text-decoration: underline;
  color: {{ section.settings.text_color }};
  line-height: calc(3px + 3ex + 3px);
  font-size: calc(var(--WP-g-body-size, var(--WP-body-size, 18px)) * {{ section.settings.text_size | times: 0.01 }});
  {%- if section.settings.override_theme_font != blank -%}
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  font-style: var(--main-font-style);
  {%- endif -%}
}

#WP--{{ section.id }} .wbs__link:not([href]) {
  text-decoration: none;
}

/* Animation */
{%- if section.settings.animation != 'none' -%}
  #WP--{{ section.id }}.wbs__animation-applied [style*="--wbs-animate"] {
    animation-name: wbs__animation--{{ section.settings.animation }};
  }
{%- else -%}
  #WP--{{ section.id }} [style*="--wbs-animate"] {
    opacity: 1;
  }
{% endif %}

{%- if section.settings.custom_css != blank -%}
  {%- assign custom_section_declarations = section.settings.custom_css | split: '}' -%}
  {%- for declaration in custom_section_declarations -%}
    {%- if declaration contains '{' -%}
      #WP--{{ section.id }} {{ declaration }} }
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  #WP--{{ section.id }} .wbs__sizer {
    width: 100%;
  }

  {%- if section.settings.mobile_display == 'scroll' -%}
    #WP--{{ section.id }} .wbs__testimonials-wrapper {
      flex-wrap: nowrap;
      -webkit-overflow-scrolling: touch;
      overflow-x: scroll;
      justify-content: flex-start;
      scroll-snap-type: x mandatory;
      scroll-padding: 20px;
      padding-right: 20px;
      padding-left: 20px;
      margin-left: 0;
    }

    #WP--{{ section.id }} .wbs__flex-item {
      min-width: 75vw;
      scroll-snap-align: start;
      position: relative;
      margin-bottom: 20px;
    }

    #WP--{{ section.id }} .wbs__flex-item:first-child {
      margin-left: 20px;
    }

    #WP--{{ section.id }} ::-webkit-scrollbar {
      -webkit-appearance: none;
      background-color: rgba(0,0,0,0);
      width: 7px;
      height: 3px;
    }

    #WP--{{ section.id }} ::-webkit-scrollbar-track,
     ::-webkit-scrollbar-corner { /* Background */
      background: #D8D8D8;
    }

    #WP--{{ section.id }} ::-webkit-scrollbar-thumb {
      border-radius: 0px;
      background-color: #000000;
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
  {%- else -%}
    #WP--{{ section.id }} .wbs__testimonials-wrapper {
      margin: 0 20px;
    }

    #WP--{{ section.id }} .wbs__flex-item {
      min-width: 100%;
    }
  {%- endif -%}

  #WP--{{ section.id }} .wbs__inner-content {
    padding: .5em 0em;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  #WP--{{ section.id }} {
    margin-top: {{ section.settings.outer_margin | divided_by: 2 }}px;
    margin-bottom: {{ section.settings.outer_margin | divided_by: 2 }}px;
  }
  #WP--{{ section.id }} .wbs__sizer {
    padding-top: {{ section.settings.inner_padding | divided_by: 2 }}px;
    padding-bottom: {{ section.settings.inner_padding | divided_by: 2 }}px;
  }
  {%- if section.settings.mobile_custom_css != blank -%}
    {%- assign mobile_custom_declarations = section.settings.mobile_custom_css | split: '}' -%}
    {%- for declaration in mobile_custom_declarations -%}
      {%- if declaration contains '{' -%}
        #WP--{{ section.id }} {{ declaration }} }
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
}


.wbs__image__wrapper:not(.wbs__image__wrapper--contain) svg{
  width: inherit;
    height: inherit;
}

.wbs__image__wrapper{
  position: relative;
  display: grid;
  margin: 0;
}
.circle-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}
  .wbs__image__wrapper img{
    object-fit: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }#WP--{{ section.id }} {
  background: {{ section.settings.background_color }};
  margin-top: {{ section.settings.outer_margin }}px;
  margin-bottom: {{ section.settings.outer_margin }}px;
  --play-button-size: 50px;
}

#WP--{{ section.id }} .wbs__sizer {
  padding-top: {{ section.settings.inner_padding }}px;
  padding-bottom: {{ section.settings.inner_padding }}px;
  width: {{ section.settings.base_width }}%;
  max-width: {{ max_width }};
  margin: 0 auto;
}

#WP--{{ section.id }} .wbs__heading {
  text-transform: none;
  text-align: center;
  margin: 0 0 1em;
  color: {{ section.settings.heading_color }};
  line-height: calc(3px + 2ex + 3px);
  font-size: calc(var(--WP-g-heading-size, var(--WP-heading-size, 35px)) * {{ section.settings.text_size | times: 0.01 }});
  {%- if section.settings.override_theme_font != blank -%}
  font-family: var(--heading-font);
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
  {%- endif -%}
}

{%- if section.settings.desktop_display == 'scroll' -%}
  #WP--{{ section.id }} .wbs__sizer {
    {% comment %} margin-right: 0; {% endcomment %}
  }

  #WP--{{ section.id }} .wbs__testimonials-wrapper {
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    justify-content: flex-start;
    scroll-snap-type: x mandatory;
    scroll-padding: 20px;
    margin-left: 0; 
  }

  #WP--{{ section.id }} .wbs__flex-item {
    min-width: calc(100%/{{ section.settings.per_row }} + 1vw);
    scroll-snap-align: start;
    position: relative;
    margin-bottom: 20px;
    border-radius: {{ section.settings.border_radius }}px;
  }

  #WP--{{ section.id }} ::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: rgba(0,0,0,0);
    width: 7px;
    height: 3px;
  }

  #WP--{{ section.id }} ::-webkit-scrollbar-track,
   ::-webkit-scrollbar-corner { /* Background */
    background: #D8D8D8;
  }

  #WP--{{ section.id }} ::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #000000;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }
{%- else -%}
  #WP--{{ section.id }} .wbs__testimonials-wrapper {
    flex-wrap: wrap;
  }

  #WP--{{ section.id }} .wbs__flex-item {
    flex: 0 0 calc(100%/{{ section.settings.per_row }} - 20px);
    border-radius: {{ section.settings.border_radius }}px;
  }
{%- endif -%}

#WP--{{ section.id }} .wbs__testimonials-wrapper {
  justify-content: flex-start;
  gap: 20px;
  display: flex;
}

#WP--{{ section.id }} .wbs__flex-item {
  height: auto;
  border: {{ section.settings.border_width }}px solid {{ section.settings.border_color }};
  background: {{ section.settings.text_background_color }};
}

#WP--{{ section.id }} .wbs__inner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

#WP--{{ section.id }} .wbs__youtube-video {
  aspect-ratio: 16 / 9;
  width: 100%;
  display: block;
  border-radius: {{ inner_border_radius }}px {{ inner_border_radius }}px 0 0;
}

#WP--{{ section.id }} .wbs__hosted-video {
  width: 100%;
  height: auto;
  display: block;
}


#WP--{{ section.id }} .wbs__video-inner-wrapper {
  position: relative;
}

#WP--{{ section.id }} .wbs__play-button,
#WP--{{ section.id }} .wbs__pause-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--play-button-size);
  height: var(--play-button-size);
  fill: {{ section.settings.play_button_color }};
  transition: 0.1s ease;
  cursor: pointer;
}

#WP--{{ section.id }} .wbs__pause-button {
  opacity: 0;
  transition: 0.1s ease;
  pointer-events: none;
  width: calc(var(--play-button-size)/1.5);
  height: calc(var(--play-button-size)/1.5);
  fill: {{ section.settings.play_button_color }};
}


#WP--{{ section.id }} .wbs__video-wrapper:hover {
  border-color: red;
}
#WP--{{ section.id }} .wbs__video-wrapper:hover .wbs__pause-button.wbs__playing {
  opacity: 100;
  pointer-events: initial;
}

#WP--{{ section.id }} .wbs__play-button path,
#WP--{{ section.id }} .wbs__pause-button path {
  pointer-events: none;
}

#WP--{{ section.id }} .wbs__play-button.wbs__playing {
  opacity: 0;
}

#WP--{{ section.id }} .wbs__stars {
  display: flex;
  justify-content: center;
  width: min(80%, 115px);
}

#WP--{{ section.id }} .wbs__star {
  flex: 1 0 auto;
  max-width: 30px;
}

#WP--{{ section.id }} .wbs__star svg path {
  fill: {{ section.settings.star_color }};
}

#WP--{{ section.id }} .wbs__text {
  position: relative;
  text-align: center;
  margin: 0;
  margin-bottom: 0px;
  font-weight: normal;
  color: {{ section.settings.text_color }};
  line-height: calc(3px + 2ex + 3px);
  font-size: calc(var(--WP-g-body-size, var(--WP-body-size, 18px)) * {{ section.settings.text_size | times: 0.01 }});
  {%- if section.settings.override_theme_font != blank -%}
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  font-style: var(--main-font-style);
  {%- endif -%}
}

#WP--{{ section.id }} .wbs__image {
  width: {{ section.settings.image_size }}%;
  overflow: hidden;
}

#WP--{{ section.id }} .wbs__image--circle {
  border-radius: 50%;
}

#WP--{{ section.id }} .wbs__image--rounded {
  border-radius: 5px;
}

#WP--{{ section.id }} .wbs__link {
  text-align: center;
  margin-top: 20px;
  font-weight: normal;
  text-decoration: underline;
  color: {{ section.settings.text_color }};
  line-height: calc(3px + 3ex + 3px);
  font-size: calc(var(--WP-g-body-size, var(--WP-body-size, 18px)) * {{ section.settings.text_size | times: 0.01 }});
  {%- if section.settings.override_theme_font != blank -%}
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  font-style: var(--main-font-style);
  {%- endif -%}
}

#WP--{{ section.id }} .wbs__link:not([href]) {
  text-decoration: none;
}

/* Animation */
{%- if section.settings.animation != 'none' -%}
  #WP--{{ section.id }}.wbs__animation-applied [style*="--wbs-animate"] {
    animation-name: wbs__animation--{{ section.settings.animation }};
  }
{%- else -%}
  #WP--{{ section.id }} [style*="--wbs-animate"] {
    opacity: 1;
  }
{% endif %}

{%- if section.settings.custom_css != blank -%}
  {%- assign custom_section_declarations = section.settings.custom_css | split: '}' -%}
  {%- for declaration in custom_section_declarations -%}
    {%- if declaration contains '{' -%}
      #WP--{{ section.id }} {{ declaration }} }
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  #WP--{{ section.id }} .wbs__sizer {
    width: 100%;
  }

  {%- if section.settings.mobile_display == 'scroll' -%}
    #WP--{{ section.id }} .wbs__testimonials-wrapper {
      flex-wrap: nowrap;
      -webkit-overflow-scrolling: touch;
      overflow-x: scroll;
      justify-content: flex-start;
      scroll-snap-type: x mandatory;
      scroll-padding: 20px;
      padding-right: 20px;
      padding-left: 20px;
      margin-left: 0;
    }

    #WP--{{ section.id }} .wbs__flex-item {
      min-width: 75vw;
      scroll-snap-align: start;
      position: relative;
      margin-bottom: 20px;
    }

    #WP--{{ section.id }} .wbs__flex-item:first-child {
      margin-left: 20px;
    }

    #WP--{{ section.id }} ::-webkit-scrollbar {
      -webkit-appearance: none;
      background-color: rgba(0,0,0,0);
      width: 7px;
      height: 3px;
    }

    #WP--{{ section.id }} ::-webkit-scrollbar-track,
     ::-webkit-scrollbar-corner { /* Background */
      background: #D8D8D8;
    }

    #WP--{{ section.id }} ::-webkit-scrollbar-thumb {
      border-radius: 0px;
      background-color: #000000;
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
  {%- else -%}
    #WP--{{ section.id }} .wbs__testimonials-wrapper {
      margin: 0 20px;
    }

    #WP--{{ section.id }} .wbs__flex-item {
      min-width: 100%;
    }
  {%- endif -%}

  #WP--{{ section.id }} .wbs__inner-content {
    padding: 1em 0.5em;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  #WP--{{ section.id }} {
    margin-top: {{ section.settings.outer_margin | divided_by: 2 }}px;
    margin-bottom: {{ section.settings.outer_margin | divided_by: 2 }}px;
  }
  #WP--{{ section.id }} .wbs__sizer {
    padding-top: {{ section.settings.inner_padding | divided_by: 2 }}px;
    padding-bottom: {{ section.settings.inner_padding | divided_by: 2 }}px;
  }
  {%- if section.settings.mobile_custom_css != blank -%}
    {%- assign mobile_custom_declarations = section.settings.mobile_custom_css | split: '}' -%}
    {%- for declaration in mobile_custom_declarations -%}
      {%- if declaration contains '{' -%}
        #WP--{{ section.id }} {{ declaration }} }
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
}

