.rating {
    margin-top: 10px;
  }

  .star {
    font-size: 20px;
  }
.media.media--transparent.media--circle {
    padding-bottom: 0;
}
 .media.media--transparent.media--circle {
    width: 100px;
    height: 100px;
}
.testimonials__icon.testimonials__icon--bottom {
    text-align: right;
    margin-top: 0;
}
.testimonials__icon.testimonials__icon--top {
    text-align: left;
}
.testimonials__icon.testimonials__icon--top svg, .testimonials__icon.testimonials__icon--bottom svg {
    width: 15px;
}
.multicolumn.background-primary .multicolumn-card {
    background: rgb(246 242 237) linear-gradient(rgba(var(--color-foreground), .04), rgba(var(--color-foreground), .04));
}
.star-rating-section .left {
    text-align: left;
  }

  .star-rating-section .center {
    text-align: center;
  }

  .star-rating-section .right {
    text-align: right;
  }
.multicolumn-card.content-container {
    transition: background-color .4s ease;
}
.multicolumn-card.content-container:hover {
    background-color: #f3f3f37d;
}