{%- assign id = '#shopify-section-' | append: section.id -%}





.custom-text {
  display: inline-block;
  padding: 5px 10px;
}

/* Apply font sizes based on the class */
.custom-text.small {
  font-size: 12px;
  padding-left: 50px;
}

.custom-text.medium {
  font-size: 18px;
  padding-left: 50px;
}

.custom-text.large {
  font-size: 24px;
  padding-left: 50px;
}