.collection-list {
  margin-top: 0;
  margin-bottom: 0;
}

.collection-list-title {
  margin: 0;
}
.collection-list .card:hover .media.media--hover-effect > img:first-child:only-child,
.collection-list .card-wrapper:hover .media.media--hover-effect > img:first-child:only-child {
   opacity:.8;
      filter: blur(0px);
   transition: filter var(--duration-long) ease;
  }
.collection-card-wrapper .card {
    border: 1px solid #cccccc38;
}
.collection-list .card .media.media--hover-effect > img:first-child:only-child,
.collection-list .card-wrapper .media.media--hover-effect > img:first-child:only-child {
   opacity:1;
     filter:blur(0) ;
  transition: filter var(--duration-long) ease;
  }
.collection-list .card-wrapper:hover .card__information{
  transition: transform var(--duration-long) ease;
  transform:translateY(-5px);
}
.collection-list .card-wrapper .card__information{
   transition: transform var(--duration-long) ease;
 transform:translateY(0px);
}
.full_card_link {
    position: absolute;
    text-decoration: none;
    width: 100%;
    height: 100%;
    z-index: 999;
}
@media screen and (max-width: 749px) {
  .collection-list:not(.slider) {
    padding-left: 0;
    padding-right: 0;
  }

  .section-collection-list .page-width {
    padding-left: 0;
    padding-right: 0;
  }

  .section-collection-list .collection-list:not(.slider) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.collection-list__item:only-child {
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 749px) {
  .slider.collection-list--1-items {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .slider.collection-list--1-items,
  .slider.collection-list--2-items,
  .slider.collection-list--3-items,
  .slider.collection-list--4-items {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) {
  .collection-list__item a:hover {
    box-shadow: none;
  }
}

@media screen and (max-width: 989px) {
  .collection-list.slider .collection-list__item {
    max-width: 100%;
  }
}

.collection-list-view-all {
  margin-top: 2rem;
}
