.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}
{% style %}
  .contact__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contact__wrapper--left .contact__form {
    order: 1;
  }

  .contact__wrapper--right .contact__form {
    order: 2;
  }

  .contact__form {
    flex: 1;
    margin-right: 20px; /* Adjust the margin for spacing */
  }

  .contact__empty-side {
    flex: 1;
    padding: 20px;
  }

  .empty-side__heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .empty-side__text {
    font-size: 16px;
  }
{% endstyle %}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}
