.media.media--transparent.media--portrait {
    padding-bottom: 0;
}
  .multicolumn-card__info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
    z-index: 10;
}
h5.title.inline.h1 {
    font-size: 14px;
}
  .media--portrait {
    border-radius: 10px;
}
.multicolumn-card__info {
    margin: 15px;
}
a.three-coll.button {
    width: 30%;
}
.multicolumn-card__image-wrapper .media {
  transition: transform 0.3s ease-in-out; /* Smooth transition for scaling */
}

.multicolumn-card__image-wrapper:hover .media {
  transform: scale(1.1); /* Scales the image by 10% on hover */
}
